<!-- createBlog.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Create Blog</title>
  </head>
  <body>
    <h1>Create Blog</h1>
    <form
      action="/submitblog"
      method="POST"
    >
      <div>
        <label for="title">Blog Title:</label>
        <input
          type="text"
          id="title"
          name="title"
          required
        />
      </div>
      <div>
        <label for="description">Blog Description:</label>
        <textarea
          id="description"
          name="description"
          required
        ></textarea>
      </div>
      <div>
        <label for="imageURL">Blog Image URL:</label>
        <input
          type="text"
          id="imageURL"
          name="imageURL"
          required
        />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
